services:
  cronbeat:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
      - cronbeat-data:/var/www/data
    environment:
      - PHP_DISPLAY_ERRORS=1
      - PHP_ERROR_REPORTING=E_ALL
      - LOG_LEVEL=DEBUG
      - DB_PATH=/var/www/data/db.sqlite
    restart: unless-stopped

volumes:
  cronbeat-data:
